{% extends "base.html" %}

{% block title %}
予約削除| 会議室予約システム
{% endblock %}

{% block content %}
<section class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center mb-4">予約を削除する</h1>

        <div
            id="error-message"
            class="text-danger  text-center mb-3 w-100"
            role="alert"
        >
        </div>
        <p class="text-center">
            次の予約を削除します。よろしいですか？
        </p>

        <form id="booking-delete-form" data-booking-id="{{ booking_id }}">

            <div class="mb-3">
                <label for="room-name" class="form-label">
                    会議室
                </label>

                <input
                    type="text"
                    id="room-name"
                    name="room_name"
                    class="form-control"
                    readonly
                >
            </div>

            <div class="mb-3">
                <label for="start-at" class="form-label">
                    開始日時
                </label>

                <input
                    type="datetime-local"
                    id="start-at"
                    name="start_at"
                    class="form-control"
                    readonly
                >
            </div>

            <div class="mb-3">
                <label for="end-at" class="form-label">
                    終了日時
                </label>

                <input
                    type="datetime-local"
                    id="end-at"
                    name="end_at"
                    class="form-control"
                    readonly
                >
            </div>

            <div class="mb-4">
                <label for="reserved-num" class="form-label">
                    予約人数
                </label>

                <input
                    type="number"
                    id="reserved-num"
                    name="reserved_num"
                    class="form-control"
                    readonly
                >
            </div>

            <button
                type="submit"
                class="btn btn-danger w-100"
            >
                削除する
            </button>

            <a
                href="/booking"
                class="btn btn-secondary w-100 mt-3"
            >
                キャンセル
            </a>
        </form>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='/js/booking-delete.js') }}"></script>
{% endblock %}
