{% extends "base.html" %}

{% block title %}
会議室 | 会議室予約システム
{% endblock %}

{% block content %}
<section class="mb-4">

   <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>会議室一覧</h1>
        <a href="/room/new" class="btn btn-primary">
            会議室を登録する
        </a>
   </div>

   <div id="error-message" class="text-danger mb-3"></div>
   <div id="room-list" class="row g-3">
        <!-- JavaScriptで会議室を表示 -->
   </div>

</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='/js/room.js') }}"></script>
{% endblock %}